.card {
  margin-top: 10px !important;
}

.red-text {
  color: red;
}

.small-text {
  font-size: 0.9rem;
}

.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
}

.card:hover {
  box-shadow: 8px 16px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
  position: relative !important;
}

.cost {
  position: absolute !important;
  right: 0;
}

.card-title .title:hover {
  color: red;
  cursor: pointer;
}
